<div class="card team">
  <div class="card-body">
    <div class="float-right">
      <i class="fas fa-users"></i>
      <%= team.players.count %>
    </div>
    <%= link_to team.full_name, team %>
  </div>
</div>
