<div class="card team shadow-sm">
  <div class="card-body">
    <div class="team-players-count">
      <i class="fas fa-users"></i>
      <%= team.players.count %>
    </div>
    <%= link_to team.full_name_with_logo(max_width: 64, max_height: 64), team %>
  </div>
</div>
