<h1 class="text-center">Équipes</h1>

<%= render 'shared/letters' %>

<div class="cards-list teams">
  <% @teams.each do |team| %>
    <%= render 'team', team: team.decorate %>
  <% end %>
</div>

<%= paginate @teams, theme: 'twitter-bootstrap-4' %>
