<h1 class="text-center">Équipes</h1>

<%= render 'shared/letters' %>
<%= render 'shared/pagination', collection: @teams %>

<div class="cards-list teams">
  <% @teams.each do |team| %>
    <div class="card-container">
      <%= render 'team', team: team.decorate %>
    </div>
  <% end %>
</div>
