<h1 class="text-center">Équipes</h1>

<%= render 'shared/letters' %>
<%= render 'shared/pagination', collection: @teams %>

<div class="cards-list teams">
  <div class="row justify-content-md-center">
    <div class="col col-4">
      <% @teams.each do |team| %>
        <%= render 'team', team: team.decorate %>
      <% end %>
    </div>
  </div>
</div>
