<div class="text-center">
  <div id="list-toolbar">
    <h1 class="page-title">Équipes</h1>
    <%= render 'shared/letters' %>
    <%= render 'shared/pagination', collection: @teams %>
  </div>
</div>

<div class="cards-list teams">
  <% @teams.each do |team| %>
    <div class="card-container">
      <%= render 'team', team: team.decorate %>
    </div>
  <% end %>
</div>

<%= render 'shared/pagination', collection: @teams %>
