<% @title = @team.full_name_with_logo(max_width: 64, max_height: 64) %>
<% if user_team_admin? %>
  <% @title += ('<div class="float-right">' + link_to('Modifier', [:edit, @team], class: 'btn btn-primary') + '</div>').html_safe %>
<% end %>

<%= render 'players/players',
           players: @players,
           title: @title,
           with_communities: true %>

<% if !@map && @team.roster.attached? %>
  <div class="text-center">
    <%= @team.roster_image_tag(max_width: '100%') %>
  </div>
<% end %>
