.badge {
  display: inline-flex;
  align-items: center;

  &-with-icon {
    svg {
      width: 1em;
      height: 1em;
      margin-right: 0.25em;
    }
  }
}

.badge-primary {
  color: var(--text-color-accent);
  background-color: var(--text-color-accent-100);
}
