.btn {
  &-with-icon {
    svg {
      margin-right: 0.5em;
    }
  }

  &-icon {
    color: $body-color;
    padding-left: $btn-padding-y;
    padding-right: $btn-padding-y;
    line-height: 0;

    svg {
      width: 1.5em;
      height: 1.5em;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: $white;
      box-shadow: none;
      background-color: $gray-medium;
    }
  }

  &-gradient-pink {
    background: linear-gradient(204deg, #ff97d5 6%, #db4cba 88%);
    color: $white;

    &:hover {
      color: $white;
      background: linear-gradient(24deg, #ff97d5 6%, #db4cba 88%);
    }
  }

  &-sm {
    font-size: $font-size-base * 0.8;
  }

  &-dark {
    $background: $gray-deep;
    $hover-background: lighten($background, 7.5%);

    color: $body-color;

    @include hover() {
      color: $body-color;
      @include gradient-bg($hover-background);
    }

    @each $section_name, $color in $sections {
      $hover-background: darken($color, 7.5%);

      &.#{$section_name}:not(:disabled):not(.disabled).active {
        background-color: $color;
        color: theme-color("dark");

        @include hover() {
          color: color-yiq($hover-background, $light: $white);
          background-color: $hover-background;
        }
      }
    }
  }

  &-filter--order-by {
    white-space: nowrap;

    .icon--arrow_up {
      display: none;
    }
  }

  &.active {
    &--asc,
    &--desc {
      .icon--arrow_up {
        display: inline-block;
      }
    }

    &--desc {
      .icon--arrow_up {
        transform: rotate(180deg);
      }
    }
  }
}

.btn-see-more {
  @extend .btn-icon, .rounded-circle;
  padding: 0;
  display: flex;

  svg {
    transform: rotate(90deg);
    height: 1.25em;
    width: 1.25em;
  }

  &--horizontal {
    svg {
      transform: none;
    }
  }
}
