.custom-control-label {
  --color: var(--text-color-accent);
}

.custom-control-label::before,
.custom-control-label::after {
  top: 0.1rem;
}

.custom-control-label::before {
  background-color: $gray-medium;
  border-color: $gray-medium-light;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: $dark;
  border-color: var(--color);
  background-color: var(--color);
}

.custom-switch .custom-control-label::after {
  top: calc(0.1rem + 2px);
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: $dark;
}

trix-editor.form-control {
  height: auto;
}
