.list {
  > *:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

.list-x {
  display: flex;

  > *:not(:last-child) {
    margin-right: 0.25rem;
  }
}

.list-y {
  display: flex;
  flex-direction: column;

  > *:not(:first-child) {
    margin-top: 0.5rem;
  }
}

.list-row {
  display: flex;
  background-color: rgba($gray-deep, 0.7);
  border-radius: $rounded-pill;
  padding: map-get($spacers, 1) map-get($spacers, 3);
}
