# GIT
.git
.gitattributes
.gitignore

# Docker
.dockerignore
Caddyfile
docker-compose*
Dockerfile*
/docker

# Rails
.rspec
.rubocop.yml
.ruby-version
/app/javascript
/config/application.yml
/config/database.yml
/config/database.yml.example
/config/master.key
/config/spring.rb
/config/webpack
/coverage
/db/seeds.rb
/doc
/log
/public
!/public/assets/.sprockets-manifest*
!/public/packs/manifest.json
/spec
/storage

# Node
.browserslistrc
babel.config.js
package.json
postcss.config.js
yarn.lock
yarn-error.log
/node_modules

# Dev
.byebug_history
.circleci
.codeclimate.yml
.github
latest.dump
node_modules
Procfile
tmp

# Other
**/.DS_Store
**/.editorconfig
**/.idea
**/README.md
**/LICENSE.md
