$custom-colors: (
  light: $gray-light,
  dark: $gray-deep,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

$additional-grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  md-lg: 1024px,
  xl: 1200px,
  xxl: 1400px,
);
$grid-breakpoints: $additional-grid-breakpoints;

// NAVBAR

$navbar-dark-color: $body-color;
$navbar-light-hover-color: $white;

// DROPDOWNS

$dropdown-bg: rgba($gray-medium, 0.9);
$dropdown-spacer: 0.5rem;
$dropdown-header-color: theme-color-level("light", -1);
$dropdown-border-width: 0;
$dropdown-link-color: $body-color;
$dropdown-link-active-bg: $gray-dark;
$dropdown-link-active-color: $white;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $gray-deep;
$dropdown-divider-bg: $white;
$dropdown-item-padding-y: 0.5rem;

// CARDS

$card-bg: $gray-deep;
$card-border-width: 0;

// PAGINATIONS

$pagination-bg: $gray-deep;
$pagination-disabled-bg: $gray-dark;
$pagination-disabled-border-color: $gray-dark;
$pagination-border-color: $gray-dark;
$pagination-hover-bg: $gray-medium;
$pagination-hover-color: $white;
$pagination-hover-border-color: $gray-dark;
$pagination-active-bg: $gray-medium;
$pagination-active-border-color: $gray-dark;

// MODALS

$modal-sm: 260px;
$zindex-modal-backdrop: 10000;
$zindex-modal: 10001;
$modal-backdrop-opacity: 0.9;
$modal-header-border-width: 0;
$modal-title-line-height: 1.25;
$modal-content-inner-border-radius: 15px;
$modal-content-border-radius: 15px;
$modal-content-bg: $gray-deep;

// BADGES

$badge-padding-x: 0.5em;

// CUSTOM SELECTS

$custom-select-border-width: 0;
$custom-select-bg: $gray-medium;
$custom-select-color: $body-color;
$custom-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'><path fill='#{$body-color}' d='M2,9.4c-0.1-1.2,1.5-1.9,2.3-1c0,0,11.7,11.8,11.7,11.8L27.7,8.4c1.2-1.2,3.2,0.7,1.9,1.9C29.6,10.3,16,24,16,24L2.4,10.3C2.1,10.1,2,9.7,2,9.4z'/></svg>");
$custom-select-bg-size: 1rem;
$custom-select-indicator-padding: 1.5rem;
$custom-select-background: escape-svg($custom-select-indicator) right
  $custom-select-padding-x center / $custom-select-bg-size no-repeat;
