$enable-responsive-font-sizes: true;
$font-family-base: "Sora", Arial, sans-serif;

$gray-light: #aeb9c9;
$gray-medium-light: #6b717a;
$gray-medium: #393c42;
$gray-deep: #26282c;
$gray-dark: #1b1d20;
$gray-darker: #121314;

$layout: (
  "accent": $gray-medium-light,
  "accent-dark": $gray-medium,
  "layout": $gray-deep,
  "layout-dark": $gray-dark,
  "bg": $gray-darker,
);

$yiq-text-dark: $gray-deep;
$yiq-text-light: white;

$red: #ee647d;
$yellow: #ffaa49;
$green: #60d376;
$blue: #6296ff;
$purple: #aa5ce5;
$pink: #ff97d5;

$players: $red;
$championship: #ffaa49;
$smashtheque-tv: #60d376;
$rosalina: #6296ff;
$community: #aa5ce5;
$guides: $pink;

$sections: (
  "players": $players,
  "championship": $championship,
  "smashtheque-tv": $smashtheque-tv,
  "rosalina": $rosalina,
  "community": $community,
  "guides": $guides,
);

$level_1: #60d376;
$level_2: #6296ff;
$level_3: #aa5ce5;
$level_4: #fd3737;

$body-bg: $gray-darker;
$body-color: $gray-light;

$border-radius: 0.625rem;
$border-radius-sm: 0.5rem;
$border-radius-lg: 0.75rem;

$link-color: $body-color;
$link-hover-color: lighten($body-color, 15);
$link-hover-decoration: none;

$component-active-color: $gray-dark;
$component-active-bg: $gray-light;

$header-height-desktop: 90px;
$header-height-tablet: 74.34px;
$header-height-mobile: 56px;

$font-weight-bolder: 600;
