$custom-colors: (
  light: $gray-light,
  dark: $gray-deep,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

$additional-grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  md-lg: 1024px,
  xl: 1200px,
  xxl: 1400px,
);
$grid-breakpoints: $additional-grid-breakpoints;

// NAVBAR

$navbar-dark-color: $body-color;
$navbar-light-hover-color: $white;

// DROPDOWNS

$dropdown-bg: rgba($gray-medium, 0.9);
$dropdown-spacer: 0.5rem;
$dropdown-header-color: theme-color-level("light", -1);
$dropdown-border-width: 0;
$dropdown-link-color: $body-color;
$dropdown-link-active-bg: $gray-dark;
$dropdown-link-active-color: $white;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $gray-deep;
$dropdown-divider-bg: $white;
$dropdown-item-padding-y: 0.5rem;

// CARDS

$card-bg: $gray-deep;
$card-border-width: 0;

// PAGINATIONS

$pagination-bg: $gray-deep;
$pagination-disabled-bg: $gray-dark;
$pagination-disabled-border-color: $gray-dark;
$pagination-border-color: $gray-dark;
$pagination-hover-bg: $gray-medium;
$pagination-hover-color: $white;
$pagination-hover-border-color: $gray-dark;
$pagination-active-bg: $gray-medium;
$pagination-active-border-color: $gray-dark;

// MODALS

$modal-sm: 260px;
// $zindex-modal-backdrop: 10000;
// $zindex-modal: 10001;
$modal-backdrop-opacity: 0.9;
$modal-header-border-width: 0;
$modal-title-line-height: 1.25;
$modal-content-inner-border-radius: 15px;
$modal-content-border-radius: 15px;
$modal-content-bg: $gray-deep;
