.resource {
  --bg-color: #{$gray-deep};
  --shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);

  display: flex;
  position: relative;
  transition-duration: 0.2s;
  transition-property: color, background;
  transition-timing-function: ease-in-out;

  &:hover {
    --bg-color: #{$gray-medium};

    .admin-edit-link {
      display: flex;
    }
  }

  .card-body {
    padding-top: $card-spacer-x / 2;
    padding-bottom: $card-spacer-x / 2;
  }

  .admin-edit-link {
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba($body-color, 0.3);
    padding: 3px;
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    z-index: 2;
  }

  .players-count {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-left: calc(1rem + 2%);
    margin: (-$card-spacer-x / 2) -1.25rem (-$card-spacer-x / 2) 0;
    position: relative;

    &::before {
      content: "";
      display: block;
      background-color: $gray-dark;
      clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0% 100%);
      position: absolute;
      inset: 0;
    }

    @media screen and (min-width: 375px) {
      width: 100px;
    }

    a {
      position: relative;
      border-radius: 50%;
      line-height: 1;
      transition: $transition-base;
      z-index: 2;
      font-weight: 600;
      font-size: 0.875rem;

      .icon {
        height: 1.2em;
        width: 1.2em;
        margin-left: 0.25em;
      }
    }
  }

  .rank {
    background-color: $gray-deep;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    border-radius: $rounded-pill;
    line-height: 1.15;
    border: 1px solid $gray-dark;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);
    color: var(--text-color-accent);
    font-weight: 600;
  }

  .player-points {
    font-size: 0.75rem;
    color: rgba($body-color, 0.5);

    img {
      height: 1.25em;
      margin-right: 0.5em;
    }
  }

  &--dark {
    .card {
      background-color: $gray-dark;
    }

    &:hover {
      .card {
        background-color: $gray-medium;
      }
    }
  }
}

.resource-top-left {
  display: flex;
  align-items: center;
  position: absolute;
  left: -0.5rem;
  top: -0.5rem;
  z-index: 1;

  * + * {
    margin-left: 0.25rem;
  }
}

.resource-avatar {
  background-color: var(--bg-color);
  margin-right: 0.875rem;
  transition: inherit;
  flex-shrink: 0;
  box-shadow: var(--shadow);
  width: 76px;
  height: 76px;

  .avatar {
    border-radius: $card-border-radius;
    width: 100% !important;
    height: 100% !important;
  }

  &-sm {
    width: 48px;
    height: 48px;
  }

  &-lg {
    width: 98px;
    height: 98px;
  }
}

.resource-content {
  background-color: var(--bg-color);
  box-shadow: var(--shadow);
  transition: inherit;
  overflow: hidden;
}

.resource-meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;

  > * + * {
    margin-top: 0.25rem;
  }
}

.resource-title {
  font-size: 0.875rem;
  max-width: 100%;
  margin-bottom: 0;

  a:after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  @media screen and (min-width: breakpoint-min("md", $grid-breakpoints)) {
    font-size: 1rem;
  }
}

.resource-link {
  position: absolute;
  inset: 0;
}

.resource-badges {
  line-height: 1;
}

.resource-tag {
  display: inline-flex;
  padding: 0.25rem;
  border-radius: 1.5rem;
  background-color: $gray-deep;
  align-items: center;

  img {
    border-radius: 50%;
    margin-right: 0.25rem;
    width: 24px;
    height: 24px;
  }

  span {
    min-width: 0;
    @include text-truncate();
    font-size: $font-size-sm;
  }

  .icon {
    margin-left: auto;
    flex-shrink: 0;
    padding: 0.125rem;
    width: 0;
  }
}

.resource-description {
  .card {
    background-color: $gray-dark;
  }

  &-title {
    font-size: 1.125rem;
  }

  &-subtitle {
    font-weight: 600;
  }

  .resource-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;

    > * {
      min-width: 0;
    }
  }
}

.resource.player,
.resource.duo {
  min-height: 64px;

  .reward-badge {
    img {
      width: 24px;
    }
  }

  .list-characters-compact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-left: calc(1rem + 2%);
    margin: (-$card-spacer-x / 2) -1.25rem (-$card-spacer-x / 2) 0;
    position: relative;

    &::before {
      content: "";
      display: block;
      background-color: $gray-dark;
      clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0% 100%);
      position: absolute;
      inset: 0;
    }

    &--dark {
      &::before {
        background-color: $gray-darker;
      }
    }

    @media screen and (min-width: 375px) {
      width: 125px;
    }
  }

  .list-team {
    color: var(--text-color-accent);
  }
}

.team {
  .team-badges {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .badge + .badge {
      margin-left: 0.25em;
    }
  }
}

.duo {
  .resource-avatar + .resource-avatar {
    margin-left: -34px;
  }
}

.character {
  width: 200px;
  height: 200px;
  flex-direction: column;

  .resource-avatar {
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: repeat;
    margin-right: 0;
    width: 100%;
    flex-grow: 1;
    @include border-bottom-radius(0);
    @include transition();

    .emoji {
      @include transition();
    }
  }
  .character-name {
    padding: 10px;
    @include border-bottom-radius($card-border-radius);
    background-color: $gray-dark;
    text-align: center;
    transition: 0.2s;
  }

  &:hover {
    .resource-avatar {
      background-size: 120px !important;

      .emoji {
        transform: scale(1.2);
      }
    }

    .character-name {
      color: white;
      background-color: $gray-deep;
    }
  }
}

.recurring-tournament {
  .resource-badges {
    .flag-icon {
      font-size: 0.8rem;
      vertical-align: 3px;
    }
  }
}

.tournament-event {
  .resource-meta {
    * + * {
      margin-top: 0.125rem;
    }
  }
  .resource-badges {
    .flag-icon {
      font-size: 0.8rem;
      vertical-align: 2px;
    }
  }
}

.community-user {
  > .card {
    background-color: var(--bg-color);
    // border: 1px solid var(--bg-color);
  }

  .card-body {
    padding: 2rem 0.625rem;
  }

  .resource-title {
    min-width: 0;
    color: $body-color;
  }

  .resource-avatar {
    --bg-color: #{$gray-medium};
    margin-right: 0;
  }

  .resource-meta {
    color: $gray-medium-light;
    margin-top: 0.625rem;
    width: 100%;
    text-align: center;

    > :nth-last-child(2) {
      margin-bottom: 0.75rem;
    }
  }

  .resource-accounts a {
    color: inherit;
    position: relative;
    z-index: 1;

    &:hover {
      color: $body-color;
    }
  }

  .resource-tag {
    display: flex;
    position: relative;
    z-index: 10;

    & + .resource-tag {
      margin-top: 0.25rem;
    }

    &:hover {
      .icon {
        width: auto;
      }
    }
  }

  .resource-link {
    position: relative;
    z-index: 10;

    &:hover {
      color: $white !important;
    }
  }

  .resource-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto -0.625rem -2rem;
    padding: 1.5rem 0.625rem 1.5rem;
    min-height: 108px;
    position: relative;

    &-sm {
      min-height: 80px;
    }

    & > * {
      min-width: 0;
    }

    .btn {
      margin-top: 0.5rem;
      border-radius: 2rem !important;
      align-self: center;
      position: absolute;
      transform: translateY(50%);
      bottom: 0;
      z-index: 10;

      &[aria-expanded="true"] {
        background-color: $body-color;
        color: $body-bg;
      }
    }

    &::before {
      content: "";
      display: block;
      background-color: $gray-dark;
      clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
      border-radius: 0 0 $card-border-radius $card-border-radius;
      position: absolute;
      inset: 0;
    }

    .resource-accounts {
      font-size: 1.125rem;

      a + a {
        margin-left: 0.5em;
      }
    }
  }

  &:hover {
    // --bg-color: var(--text-color-accent-100);

    // > .card {
    //   border-color: var(--text-color-accent-400);
    // }

    .resource-meta {
      color: $body-color;

      a:hover {
        color: $white;
      }
    }

    .resource-bottom {
      &:before {
        // background-color: rgba($gray-darker, 0.8);
      }
    }
  }
}
