<div class="text-center">
  <div id="list-toolbar">
    <h1 class="page-title">Observatoire d'Harmonie 2v2 online</h1>
    <%= render 'shared/pagination', collection: @duos %>
  </div>
</div>

<div class="cards-list duos">
  <% @duos.each_with_index do |duo, idx| %>
    <div class="card-container">
      <%= render 'duos/duo',
                 duo: duo.decorate,
                 with_rank: true,
                 with_points: true,
                 with_communities: false %>
    </div>
  <% end %>
</div>

<%= render 'shared/pagination', collection: @duos %>
