<div class="card player">
  <div class="card-body">
    <h5 class="card-title">
      <div class="player-name">
        <%= discord_user.decorate.avatar_and_name_or_id(size: 64) %>
      </div>
    </h5>
  </div>
</div>
