<h1 class="page-title">
  <%= recurring_tournament.link %>
</h1>
<h2 class="text-center">
  Signaler un nouveau problème
</h2>
<% if current_user.is_admin? || user_recurring_tournament_admin? %>
  <div class="m-3 text-center">
    <%= link_to 'Retour à la liste', { action: :index }, class: 'btn btn-secondary' %>
  </div>
<% end %>

<%= render 'form', problem: @problem %>
