<%= render 'header', recurring_tournament: recurring_tournament %>
<section class="show-page-body card">
  <div class="show-page-content card-body">
    <%= render 'show_content', recurring_tournament: recurring_tournament %>
  </div>
</section>