<div class="card recurring-tournament shadow-sm">
  <div class="card-body">
    <div class="recurring-tournament-tournament-events-count">
      <%= fas_icon_tag :chess %>
      <%= recurring_tournament.tournament_events_count %>
    </div>
    <%= link_to recurring_tournament.name_with_logo(64), recurring_tournament_path(recurring_tournament) %>
  </div>
  <%= admin_edit_link(recurring_tournament) %>
</div>
