
<%  @power_rankings = @recurring_tournament.power_rankings.to_a %>
<div class="modal-dialog modal-lg modal-recurring-tournament">
  <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= render 'modal_content', recurring_tournament: recurring_tournament %>
  </div>
</div>
