.select2-results
  .select2-results__option
    .search-result
      position: relative
      padding-left: 30px

      .search-result-icon
        position: absolute
        left: 2px
        top: 0
        font-size: 16px

      // .name
      //   font-weight: bold

      &.search-result-character
        padding-left: 0

        .search-result-icon
          display: none

        .emoji, .avatar, .name
          display: inline-block
          vertical-align: middle

        .emoji, .avatar
          img
            max-width: 24px

        .name
          margin-left: 6px

      &.search-result-challongetournament, &.search-result-smashggevent
        padding-left: 0

        .search-result-icon
          display: none

        .name
          img
            margin-right: 8px
            margin-left: 4px

      // &.search-result-location
      //   padding-left: 0

      //   .search-result-icon
      //     display: none

      //   .icon, .name
      //     display: inline-block
      //     vertical-align: middle

      //   .icon
      //     margin-left: 4px
      //     font-size: 16px

      //     i
      //       margin-left: -4px

      //   .name
      //     margin-left: 10px
