.map-container
  position: relative

  .map
    position: relative
    z-index: 1
    width: 100%
    height: 600px

    .leaflet-popup-content
      .map-popup-player
        .player
          display: block
          padding-bottom: 3px
          &:hover
            text-decoration: none

          .avatar
            max-width: 48px
            max-height: 48px
            margin-right: 10px

          .player-characters
            margin-top: 10px
            text-align: right
            white-space: nowrap

  .layers
    position: absolute
    z-index: 2
    top: 10px
    right: 10px
    background: white
    border: 2px solid rgba(0, 0, 0, 0.2)
    border-radius: 4px
    background-clip: padding-box
    max-height: calc(100% - 30px)
    overflow-y: auto

    .layer-top-buttons
      padding: 10px

      a
        display: inline-block
        width: 45%

    .layer
      padding: 5px 10px
      cursor: pointer

      &:before
        display: inline-block
        vertical-align: middle
        width: 20px

      .name
        font-size: 12px

        .emoji
          margin-right: 5px
          vertical-align: -10px

      &.layer-visible:before
        content: '☑'
      &.layer-hidden:before
        content: '☐'

