.reward-badge
  position: relative
  display: inline-block
  margin: 10px

  img
    position: relative
    width: 64px

  .badge-counter
    position: absolute
    top: -10px
    right: -10px
    width: 28px
    height: 28px
    background: black
    color: white
    font-size: 12px
    border-radius: 100%
    display: inline-flex
    align-items: center
    justify-content: center

  &.disabled
    opacity: 0.3

  &.reward-badge-128
    img
      width: 128px

    .badge-counter
      top: 0
      right: 0
      width: 32px
      height: 32px
      font-size: 14px

  &.reward-badge-32
    img
      width: 32px

    .badge-counter
      top: -10px
      right: -10px
      width: 20px
      height: 20px
      font-size: 10px
