.reward-badge
  display: inline-flex
  width: 64px
  height: 64px
  border-radius: 100%
  background: black
  align-items: center
  justify-content: center

  .reward-badge-circle
    display: inline-flex
    width: 56px
    height: 56px
    border-radius: 100%
    border: 2px solid white
    align-items: center
    justify-content: center

    img
      width: 36px

  &.reward-badge-128
    width: 128px
    height: 128px

    .reward-badge-circle
      width: 112px
      height: 112px
      border-width: 4px

      img
        width: 72px

  &.reward-badge-32
    width: 32px
    height: 32px

    .reward-badge-circle
      width: 28px
      height: 28px
      border-width: 1px

      img
        width: 18px
