<% if model.errors.any? %>

  <div class="alert alert-danger" role="alert">
    Please review the problems below:
    <ul class="mb-0">
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>

<% end %>
