<div class="card tournament-event shadow-sm">
  <div class="card-body">
    <% if (tournament_event.participants_count || 0) > 0 %>
      <div class="tournament-event-participants-count">
        <i class="fas fa-users"></i>
        <%= tournament_event.participants_count %>
      </div>
    <% end %>
    <%= tournament_event.link %>
    <div class="clearfix">
      <div class="tournament-event-date">
        <%= l tournament_event.date, format: :long %>
      </div>
    </div>
  </div>
  <%= admin_edit_link(tournament_event) %>
</div>
