<div class="card tournament-event shadow-sm">
  <div class="card-body">
    <% if (tournament_event.participants_count || 0) > 0 %>
      <div class="tournament-event-participants-count">
        <i class="fas fa-users"></i>
        <%= tournament_event.participants_count %>
      </div>
    <% end %>
    <%= tournament_event.link %>
  </div>
  <% if admin_user_signed_in? %>
    <%= link_to fas_icon_tag('cog'), [:admin, tournament_event], target: '_blank', class: 'admin-edit-link' %>
  <% end %>
</div>
