<%= form_tag nil, method: :get do %>

  <h5><%= svg_icon_tag :trophee %> Série</h5>

  <div class="my-4">
    <%= text_field_tag :on_abc, params[:on_abc], hidden: true %>
    <%= select_tag  :by_recurring_tournament_id,
                    options_for_select(
                      duo_tournament_event_recurring_tournament_select_collection,
                      params[:by_recurring_tournament_id]
                    ),
                    prompt: 'Toutes',
                    class: 'custom-select custom-select-sm mb-2' %>
  </div>

<% end %>
