#index-nav {
  z-index: $zindex-dropdown;
  @include media-breakpoint-up(lg) {
    position: sticky;
    top: $header-height-tablet + $grid-gutter-width / 2;
    width: 250px;
  }
}

#index-filters {
  position: sticky;
  top: $header-height-mobile;
  z-index: $zindex-fixed + 1;

  @include media-breakpoint-up(md) {
    top: $header-height-tablet;
    z-index: $zindex-fixed;
  }

  .vue-slideout {
    top: $header-height-mobile - 40px;

    &-layout {
      width: 100% !important;
      padding-top: 48px;
    }

    &-header {
      display: flex;

      & > div {
        flex-grow: 1;
      }

      p {
        display: flex;
        align-items: center;
      }

      .btn-icon {
        padding: $btn-padding-x-sm;
      }
    }

    &-content {
      background-color: $gray-dark;

      h5 {
        font-size: 0.75rem;
        font-weight: 600;
        margin-bottom: -1rem;
        line-height: 1.5;
      }

      svg {
        margin-right: 0.5em;
      }

      max-height: calc(100vh - 46px - #{$header-height-mobile} - 40px);
    }

    @include media-breakpoint-up(md) {
      top: $header-height-tablet - 40px;

      &-content {
        max-height: calc(100vh - 46px - #{$header-height-tablet} - 40px);
      }
    }

    @include media-breakpoint-up(xl) {
      display: block !important;
      position: static;
      opacity: 1;

      &-mask {
        opacity: 0;
      }

      &-layout {
        padding-top: 0;
        position: static;
        transform: none;
      }

      &-header {
        height: auto;
        background-color: $gray-deep;
        border: 0;
        @include border-top-radius($border-radius);
        position: static;
        padding: 0.5rem 1rem;

        button {
          display: none;
        }
      }

      &-content {
        background-color: $gray-dark;
        @include border-bottom-radius($border-radius);
        max-height: calc(100vh - 10rem);
        padding-bottom: 0;

        > section {
          padding-bottom: 1rem;
        }
      }
    }
  }

  .index-section {
    @include media-breakpoint-down(xl) {
      border: 1px solid $gray-deep;
    }
  }
}

#index-nav,
#index-filters {
  @include media-breakpoint-up(xl) {
    top: $header-height-desktop + $grid-gutter-width;
  }

  @media screen and (min-width: 1500px) {
    top: $header-height-desktop-xl + $grid-gutter-width;
  }
}

.index-section {
  @include media-breakpoint-up(xl) {
    width: 224px;
  }
}
