.ranking {
  --grid-template-columns: 1fr 7ch repeat(2, 9ch);

  @media (min-width: 1440px) {
    --grid-template-columns: 12ch 1fr 10ch 9ch repeat(2, 12ch);
  }

  &-header {
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    gap: 1rem;
    min-width: 0;
    margin-bottom: 1rem;
    align-items: center;
    text-transform: uppercase;
    background-color: $card-bg;
    padding: $card-spacer-x;
    border-radius: $border-radius-lg;

    & > * {
      font-size: 0.75rem;
    }

    & > :nth-child(1) {
      display: none;

      @media (min-width: 1440px) {
        display: inline;
      }
    }

    & > :nth-child(3) {
      display: none;

      @media (min-width: 1440px) {
        display: inline;
      }
    }
  }

  &-list {
    & > *:not(:last-child) {
      margin-bottom: 1rem;

      @media (min-width: 1440px) {
        margin-bottom: 0.625rem;
      }
    }
  }

  &-item {
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    gap: 0 1rem;
    align-items: center;
    background-color: rgba($card-bg, 0.7);
    border-radius: $border-radius-lg;
    padding: 0.25rem;
    transition: transform 0.2s;
    position: relative;
    backface-visibility: hidden;

    .admin-edit-link {
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
    }

    &:hover {
      transform: scale(1.02);
      background-color: rgba($rosalina, 0.2);
    }

    @media (min-width: 1440px) {
      padding: 0.25rem $card-spacer-x;
    }

    & > :nth-child(1) {
      grid-row: 1;
      grid-column: 1;

      @media (min-width: 1440px) {
        grid-row: auto;
        grid-column: auto;
      }
    }

    & > :nth-child(2) {
      grid-row: 1;
      grid-column: 1;

      @media (min-width: 1440px) {
        grid-row: auto;
        grid-column: auto;
      }
    }

    & > :nth-child(3) {
      display: none;

      @media (min-width: 1440px) {
        display: block;
      }
    }
  }

  &-rank {
    @media (max-width: 1439.98px) {
      font-size: 0.75rem;
      background: $gray-dark;
      color: var(--text-color-accent);
      padding: 0.25rem 0.5rem;
      line-height: 1.15;
      text-align: center;
      border-radius: 50em;
      font-weight: 600;
      position: absolute;
      left: -16px;
      top: -16px;
      z-index: 2;
    }
  }

  &-player {
    display: flex;
    align-items: center;

    h5 {
      font-size: 0.875rem;
      margin-bottom: 0;

      @media (min-width: 768px) {
        font-size: 1.125rem;
      }
    }

    .flag-icon {
      font-size: 0.75rem;
      mix-blend-mode: plus-lighter;
    }
  }

  &-points {
    font-size: 0.75rem;

    img {
      width: 1.25em;
      height: auto;
      margin-right: 0.5ch;
    }

    @media (min-width: 768px) {
      font-size: 1rem;
    }
  }

  &-reward {
    img {
      width: 34px;
    }
  }

  &-characters {
    @media (max-width: 599px) {
      .list-characters-compact {
        a:not(:first-child) {
          display: none;
        }
      }
    }
  }
}
