.show-page {
  &-header {
    &-bg {
      padding-top: 25%;
    }

    @include media-breakpoint-down(sm) {
      &.card,
      .card {
        border-radius: 0;
      }
      margin-left: -$grid-gutter-width / 2;
      margin-right: -$grid-gutter-width / 2;
    }

    &-content {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0.5rem 0;
      padding: $card-spacer-x / 1.5 $card-spacer-x;
    }
  }

  &-avatar {
    height: 5.875rem / 2 - $card-spacer-x / 1.5;
    width: 94px;
    align-self: center;

    .avatar {
      border-radius: 50%;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
      border: 3px solid $white;
      background-color: $gray-light;
      transform: translateY(-50%);
      position: absolute;
      top: 0;
    }
  }

  &-meta {
    grid-row: 2;
    grid-column: 1;
    align-self: center;
    @include badge-variant($gray-dark);
  }

  &-main-info {
    padding-left: $card-spacer-x;
    grid-row: span 2;

    > * + * {
      margin-top: 0.25rem;
    }
  }

  &-title {
    font-size: 1.25rem;
    margin-bottom: 0;
    font-weight: 600;
  }

  &-socials {
    background-color: $gray-deep;
    border-top-left-radius: $border-radius;
    padding: ($card-spacer-y * 0.5) $card-spacer-y;
    position: absolute;
    right: 0;
    bottom: 100%;

    svg {
      width: 1.125rem;
      height: auto;
    }

    > * + * {
      margin-left: 0.5rem;
    }
  }

  .list-teams {
    margin-top: 0;
  }

  &-body {
    margin-top: 30px;

    @include media-breakpoint-down(sm) {
      margin-top: 0;
      margin-left: -$grid-gutter-width / 2;
      margin-right: -$grid-gutter-width / 2;
      border-radius: 0;
      background: transparent;
    }
  }

  &-section-title {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;

    h2 {
      font-size: 1.25rem;
      margin: 0;
    }

    &-separator {
      flex-grow: 1;
      border-bottom: 2px solid currentColor;
      margin-left: 1rem;
    }
  }
}

@each $section_name, $color in $sections {
  .section-#{$section_name} {
    .show-page {
      &-section-title {
        color: $color;
      }
    }
  }
}
