.static {
  &-content {
    margin-top: 3rem;
    max-width: 909px + $grid-gutter-width;
    margin-left: auto;
    margin-right: auto;
    padding: 0 $grid-gutter-width / 2;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--text-color-accent);
    }

    h1 {
      display: flex;
      align-items: center;
      font-size: clamp(1.5rem, calc(0.75rem + 3vw), 1.875rem);

      &:after {
        content: "";
        flex-grow: 1;
        border-bottom: 2px solid currentColor;
        margin-left: 1rem;
      }
    }

    strong,
    b {
      font-weight: 700;
    }

    p {
      margin-bottom: 1.2em;
    }

    a {
      color: var(--text-color-accent);
      text-decoration: underline;
      word-break: break-all;

      &:hover {
        opacity: 0.7;
      }
    }

    ul {
      list-style-type: square;
    }

    li::marker {
      color: var(--text-color-accent);
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .card {
      border-radius: 20px;
      background: transparent;

      @media screen and (min-width: 1024px) {
        background-color: $gray-dark;
      }
    }

    .card-body {
      padding: 0;

      @media screen and (min-width: 1024px) {
        padding: 1.5rem 2.75rem;
      }
    }
  }
}
