@import variables

.button,
input[type="submit"],
#title_bar #titlebar_right .action_item a,
body.index .table_actions a.member_link
  &.blue
    background-color: $blue
    color: white
  &.green
    background-color: $green
    // color: $black
  &.red
    background-color: $error
  &.yellow
    background-color: $yellow
    color: $black
  &.orange
    background-color: $orange

#title_bar #titlebar_right .action_item a[data-method="delete"][data-confirm]
  background-color: $error

input[type="submit"]
  &.button-auto
    width: auto
    padding: 5px 8px
