img
  &.avatar
    border-radius: 100%
    vertical-align: -10px
  &.emoji
    vertical-align: -10px
  &.logo
    vertical-align: middle

.avatar-circle
  display: inline-block
  border-radius: 100%
  background-size: cover
  vertical-align: middle
  margin-right: 5px

.panel
  .panel_contents
    img
      max-width: 100%

  &#current-graph
    .panel_contents
      img
        max-height: 600px
