h1#site_title
  padding-left: 54px
  background-image: image-url('smashtheque-64.png')
  background-size: 32px
  background-repeat: no-repeat
  background-position: 10px 50%
  text-align: left

#header
  ul#tabs
    li.menu_item
      a
        i
          margin-right: 10px

      &.current
        & > a
          background-color: $dark-gray
          color: white
