<div class="card" style="display: inline-block; width: 200px;">
  <div class="card-body text-center">
    <%= link_to character do %>
      <%= character.emoji_image_tag %><br/>
      <%= character.name.titleize %>
    <% end %>
  </div>
</div>
