<h1 class="text-center">Personnages</h1>

<div class="cards-list characters text-center">
  <% @characters.each do |character| %>
    <%= render 'character', character: character.decorate %>
  <% end %>
</div>
