<h1 class="page-title">Personnages</h1>

<div class="cards-list characters">
  <% @characters.each do |character| %>
    <div class="card-container">
      <%= render 'character', character: character.decorate %>
    </div>
  <% end %>
</div>
