<h1 class="page-title index-title sr-only">Personnages</h1>
<div class="container-xl mt-lg-5">
  <div class="row flex-nowrap align-items-start flex-column flex-lg-row">

    <%= render 'layouts/application_v2/players/index_nav' %>

    <div class="d-block d-lg-none mt-3"></div>

    <div class="characters list d-flex flex-wrap justify-content-center justify-content-lg-start">
      <% @characters.each do |character| %>
        <div class="col-auto">
          <%= render 'characters/character_v2', character: character.decorate %>
        </div>
      <% end %>
    </div>
  </div>
</div>
