<h1>Personnages</h1>

<%= render 'shared/letters' %>

<div class="cards-list characters">
  <% @characters.each do |character| %>
    <%= render 'character', character: character.decorate %>
  <% end %>
</div>

<%= paginate @characters, theme: 'twitter-bootstrap-4' %>
