<footer class="bd-footer text-muted text-center text-md-left" id="footer">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li><a href="https://github.com/Retropen-Bar">GitHub</a></li>
      <li><a href="https://twitter.com/Retropen_Bar">Twitter</a></li>
      <li><a href="/admin">Admin</a></li>
    </ul>
    <p>Conçu et développé avec amour par les Rétropen-Barmen avec l'aide de quelques contributeurs.</p>
  </div>
</footer>
