<footer class="bd-footer text-muted text-center text-md-left" id="footer">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <% Page.published.footer.order("LOWER(name)").each do |page| %>
        <li><%= link_to page.name, page_path(slug: page.slug) %></li>
      <% end %>
      <li><a href="/admin">Admin</a></li>
    </ul>
    <ul class="bd-footer-links">
      <li><a href="https://github.com/Retropen-Bar" target="_blank">GitHub</a></li>
      <li><a href="https://twitter.com/Smashtheque" target="_blank">Twitter</a></li>
    </ul>
    <p>
      Fondée par le <a href="https://twitter.com/RetropenBar" target="_blank">Rétropen-Bar</a>, également administrée par red et Moon Key.
    </p>
  </div>
</footer>
