<%= render 'shared/letters' %>
<%= render 'shared/pagination', collection: players %>

<div class="cards-list players">

  <div class="row justify-content-md-center">
    <div class="col col-6">
      <% players.each do |player| %>
        <%= render 'players/player', player: player %>
      <% end %>
    </div>
  </div>

</div>
