<div class="text-center">
  <div id="list-toolbar">
    <h1 class="page-title">Observatoire d'Harmonie 1v1</h1>
    <%= render 'shared/ranking_filters' %>
    <%= render 'shared/pagination', collection: @players %>
  </div>
</div>

<div class="cards-list players">
  <% @players.each_with_index do |player, idx| %>
    <div class="card-container">
      <%= render 'players/player',
                 player: player.decorate,
                 with_rank: true,
                 with_points: true,
                 is_online: @is_online,
                 year: @year %>
    </div>
  <% end %>
</div>

<%= render 'shared/pagination', collection: @players %>
