<footer class="bd-footer text-muted text-center text-md-left" id="footer">
  <div class="container-fluid p-2 p-md-3 d-flex align-items-center">
    <ul class="nav">
      <% Page.published.footer.order("LOWER(name)").each do |page| %>
        <li><%= link_to page.name, page_path(slug: page.slug), class: 'nav-link' %></li>
      <% end %>
      <% if admin_user_signed_in? %>
        <li><a class="nav-link" href="/admin">Admin</a></li>
      <% end %>
    </ul>
    <ul class="nav ml-auto justify-content-end">
      <li>
        <a class="nav-link px-2" href="https://github.com/Retropen-Bar" target="_blank">
          <%= svg_icon_tag :github %>
          <span class="sr-only">GitHub</span>
        </a>
      </li>
      <li>
        <a class="nav-link px-2" href="https://twitter.com/Smashtheque" target="_blank">
          <%= svg_icon_tag :twitter %>
          <span class="sr-only">Twitter</span>
        </a>
      </li>
    </ul>
  </div>
</footer>
