<div id="search" class="modal fade mt-5" tabindex="-1">
  <div class="modal-dialog modal-md modal-dialog-scrollable mh-75">
    <div class="modal-content overflow-hidden">
      <div class="modal-body">
        <form class="form-inline my-2 my-lg-0 d-inline-flex" id="main-global-search-form">
          <%= select_tag :search, [],
                class: 'form-control',
                type: :search,
                placeholder: 'Recherche globale',
                'aria-label' => 'Recherche globale',
                data: { global_search: {} } %>
        </form>
      </div>
    </div>
  </div>
</div>