.select2-results

  .select2-results__group
    cursor: pointer

    span:before
      content: '▶'
      margin-right: 5px
      vertical-align: 1px
      font-family: monospace

    &.unfold span:before
      content: '▼'

    &:not(.unfold) + .select2-results__options--nested
      display: none

  .select2-results__option
    .search-result
      position: relative
      padding-left: 30px

      .search-result-icon
        position: absolute
        left: 2px
        top: 0
        font-size: 16px

      .search-result-avatar
        position: absolute
        left: 0
        top: 0

        .avatar
          display: block
          max-width: 24px
          max-height: 24px

      // .name
      //   font-weight: bold

      &.search-result-player
        .name
          .emoji
            vertical-align: -4px

      &.search-result-character
        padding-left: 0

        .search-result-icon
          display: none

        .emoji, .name
          display: inline-block
          vertical-align: middle

        .emoji
          img
            max-width: 24px

        .name
          margin-left: 6px

      &.search-result-braackettournament,
      &.search-result-challongetournament,
      &.search-result-smashggevent
        padding-left: 0

        .search-result-icon
          display: none

        .name
          img
            margin-right: 8px
            margin-left: 4px

