.card-box {
  @include border-radius($card-inner-border-radius);
  overflow: hidden;

  .card-header {
    background-color: $gray-darker;
    font-size: 0.938rem;
    font-weight: 600;
    padding: 5px 15px;
  }

  .card-body {
    background-color: $gray-dark;

    .card-title {
      font-size: 1.25rem;
      margin-bottom: 0;
    }
  }

  &--sm {
    .card-body {
      padding: $card-spacer-y;
    }
  }

  &--square {
    position: relative;

    .card-body {
      padding: 100% 0 0;
    }

    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: $card-spacer-y;
      position: absolute;
      inset: 0;
    }
  }

  &--stat {
    font-size: 1.25rem;
    font-weight: 600;

    .card-box-icon {
      width: 100%;
      height: 100%;
      min-height: 0;
      padding-bottom: 10px;
      margin-bottom: auto;
      object-fit: contain;
      object-position: center;
    }

    small {
      font-size: 0.875rem;
    }
  }
}

@each $section_name, $color in $sections {
  .#{$section_name} {
    .card-box {
      .card-header {
        color: $color;
      }
    }
  }
}
