.btn-group > .btn {
  background-color: $gray-deep;
  border-radius: $border-radius * 1.5;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.btn-group-sm > .btn {
  font-size: $font-size-base * 0.8;
}

.btn-group > .btn.btn-outline {
  $background: $gray-deep;
  $hover-background: lighten($background, 7.5%);

  background-color: $background;
  color: rgba($body-color, 0.7);

  @include hover() {
    color: $body-color;
    @include gradient-bg($hover-background);
  }
}

@each $section_name, $color in $sections {
  $hover-background: darken($color, 7.5%);

  .btn-group.#{$section_name} > .active {
    background-color: $color;
    color: $gray-darker;

    @include hover() {
      color: rgba($gray-darker, 0.85);
    }
  }
}

.btn-group-tab {
  border-radius: $rounded-pill;
  background-color: $gray-deep;

  > .btn {
    padding-left: 1em;
    padding-right: 1em;
    border-radius: $rounded-pill !important;
    background-color: transparent;
    border: 0;

    &:not(.active) {
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }
}
