.btn-group > .btn {
  $background: $gray-deep;
  $hover-background: lighten($background, 7.5%);

  background-color: $background;
  border-radius: $border-radius * 1.5;
  padding-top: 0.25em;
  padding-bottom: 0.25em;

  @include hover() {
    color: $body-color;
    @include gradient-bg($hover-background);
  }

  &:not(:first-child) {
    margin: 0;
  }
}

.btn-group-sm > .btn {
  font-size: $font-size-base * 0.8;

  &.dropdown-toggle {
    &[aria-expanded="true"] {
      border-radius: 0 $rounded-pill $rounded-pill 0;
    }
  }
}

.btn-group-tab {
  border-radius: $rounded-pill;
  background-color: $gray-deep;
  color: rgba($body-color, 0.7);

  > .btn {
    padding-left: 1em;
    padding-right: 1em;
    border-radius: $rounded-pill !important;
    background-color: transparent;
    border: 0;

    &:not(.active) {
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.btn-group {
  & > .active {
    background-color: var(--text-color-accent);
    color: $gray-darker;

    @include hover() {
      background-color: var(--hover-bg-color-accent);
      color: var(--hover-text-color-accent);
    }
  }
}
