.btn-group > .btn {
  border-radius: $border-radius * 1.5;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.btn-group-sm > .btn {
  font-size: $font-size-base * 0.8;
}

.btn-group > .btn.btn-outline {
  $background: $gray-deep;
  $hover-background: lighten($background, 7.5%);

  background-color: $background;
  color: rgba($body-color, 0.7);

  @include hover() {
    color: $body-color;
    @include gradient-bg($hover-background);
  }
}

@each $section_name, $color in $sections {
  $hover-background: darken($color, 7.5%);

  .btn-group.#{$section_name} > .btn:not(.btn-outline) {
    background-color: $color;
    color: $white;

    @include hover() {
      color: rgba($white, 0.85);
      background-color: $hover-background;
    }
  }
}
