.card.characters-card {
  .card-header {
    background-color: $gray-darker;
    color: $red;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 15px;
  }
  .card-body {
    background-color: $gray-dark;
    padding: 10px 50px 10px 15px;

    a {
      display: block;
      font-size: 12px;
      font-weight: 600;

      img {
        margin-right: 20px;
      }

      & + a {
        margin-top: 10px;
      }
    }
  }
}
