.dropdown-toggle {
  &[aria-expanded="true"] {
    background-color: $dropdown-bg;
    border-radius: $border-radius;
  }

  &.btn-lg[aria-expanded="true"] {
    border-radius: $border-radius-lg;
  }

  &.btn-sm[aria-expanded="true"] {
    border-radius: $border-radius-sm;
  }
}

.dropdown-menu {
  backdrop-filter: blur(15px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
}

.dropdown-divider {
  margin-left: $dropdown-item-padding-x;
  margin-right: $dropdown-item-padding-x;
  opacity: 0.1;
}

.dropdown-selected {
  display: inline-flex;
  vertical-align: middle;

  > * + * {
    margin-left: 0.25rem;
  }
}

.active {
  .dropdown-selected {
    padding-right: 0.25rem;
  }

  .dropdown-label {
    display: inline-block;
    font-weight: 600;

    &::after {
      content: " : ";
    }
  }
}
