.filter-letters {
  font-size: 0.75rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(3ch, 1fr));
  gap: 0.125rem;

  .nav-item {
    text-align: center;

    &:first-child {
      grid-column: 1 / span 2;
    }
  }

  .nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
