.section-nav {
  @include media-breakpoint-down(md) {
    margin-left: -$grid-gutter-width / 2;
    margin-right: -$grid-gutter-width / 2;
    overflow: auto;
  }

  &-wrapper {
    width: max-content;

    @include media-breakpoint-up(md) {
      width: auto;
    }
  }

  &-bg {
    display: flex;
    background-color: $gray-dark;
    border-radius: $border-radius * 1.5;
    width: max-content;
    padding: 0.25em;
    margin-left: $grid-gutter-width / 2;
    margin-right: $grid-gutter-width / 2;

    @include media-breakpoint-up(md) {
      width: auto;
    }

    @include media-breakpoint-up(lg) {
      border-radius: $border-radius;
      flex-direction: column;
      padding: 1em;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &-link {
    display: flex;
    font-size: 80%;
    color: $gray-light;
    opacity: 0.5;
    padding: 0.5em 1em;
    width: max-content;
    border-radius: $border-radius * 1.5;
    line-height: 1.15;
    transition: $transition-base;

    &.active {
      font-weight: bold;
      opacity: 1;
    }

    &:hover {
      opacity: 1;
      color: inherit;
      background-color: rgba($body-color, 0.1);
      text-decoration: none;
    }

    .icon {
      display: none;
      margin-right: 0.75em;
      flex-shrink: 0;
    }

    @include media-breakpoint-down(md) {
      & + * {
        margin-left: 0.25em;
      }
    }

    @include media-breakpoint-up(lg) {
      width: auto;
      padding: 0.75em 1em;
      font-size: 0.875rem;
      border-radius: $border-radius;

      span {
        margin-top: 0.3ch;
      }

      .icon {
        display: inline-block;
      }

      & + * {
        margin-top: 0.5em;
      }
    }
  }

  @each $section, $color in $sections {
    &.#{$section} {
      .section-nav-link {
        &.active {
          color: $color;
          background-color: rgba($color, 0.1);
        }
      }
    }
  }
}

.nav-letters {
  .nav-link {
    color: rgba($body-color, 0.7);

    @include hover() {
      color: $body-color;
      background-color: rgba($body-color, 0.1);
    }
  }
}

.nav-tabs {
  display: inline-flex;
  border: 0;
  border-radius: $rounded-pill;
  background-color: $gray-deep;
  margin-bottom: 1em;

  .nav-link {
    font-size: $font-size-sm;
    border-radius: $rounded-pill;
    border: 0;
    padding: 0.125em 0.75em;
    color: rgba($body-color, 0.7);

    @include transition(
      border 0.2s linear,
      color 0.2s linear,
      width 0.2s linear,
      background-color 0.2s linear
    );

    @include hover() {
      color: $body-color;
    }
  }
}

@each $section_name, $color in $sections {
  .section-#{$section_name} .nav-tabs {
    .nav-link.active,
    .show > .nav-link {
      color: $gray-deep;
      background-color: $color;
      font-weight: 600;
    }
  }
}

@each $section_name, $color in $sections {
  .section-#{$section_name} .nav-letters {
    .nav-link.active,
    .show > .nav-link {
      color: $color;
      background-color: rgba($color, 0.1);
      font-weight: 600;
    }
  }
}
