.page-item {
  .page-link {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
}

.pagination-sm {
  .page-item {
    &:first-child {
      .page-link {
        border-top-left-radius: $border-radius * 1.5;
        border-bottom-left-radius: $border-radius * 1.5;
      }
    }

    &:last-child {
      .page-link {
        border-top-right-radius: $border-radius * 1.5;
        border-bottom-right-radius: $border-radius * 1.5;
      }
    }
  }
}

@each $section_name, $color in $sections {
  .section-#{$section_name} {
    .page-link {
      &:focus {
        outline: $pagination-focus-outline;
        box-shadow: $pagination-focus-box-shadow;
      }
    }

    .page-item {
      &.active .page-link {
        color: $white;
        background-color: $color;
      }
    }
  }
}
