.reward-badge {
  &.disabled {
    filter: grayscale(0.5);
    opacity: 0.35;
  }

  .badge-counter {
    text-align: center;
    font-size: calc(0.75rem + 0.3vw);
    font-weight: 600;
  }
}

.reward-badges {
  display: grid;
  grid-auto-rows: 1fr;
}
