<div class="card discord-guild">
  <div class="card-body">
    <%= link_to discord_guild do %>
      <%= discord_guild.icon_image_tag %><br/>
      <%= discord_guild.name %>
    <% end %>
  </div>
</div>
