<h1 class="page-title">Serveurs Discord</h1>

<ul class="nav nav-tabs justify-content-center mt-4 mb-4" id="discord-guild-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="characters-tab" data-toggle="tab" href="#characters" role="tab" aria-controls="characters" aria-selected="true">Personnages</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="teams-tab" data-toggle="tab" href="#teams" role="tab" aria-controls="teams" aria-selected="false">Équipes</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="locations-tab" data-toggle="tab" href="#locations" role="tab" aria-controls="locations" aria-selected="false">Localisations</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="others-tab" data-toggle="tab" href="#others" role="tab" aria-controls="others" aria-selected="false">Autres</a>
  </li>
</ul>

<div class="tab-content" id="discord-guild-tabs-content">

  <div class="tab-pane fade show active" id="characters" role="tabpanel" aria-labelledby="characters-tab">
    <%= render 'discord_guilds/discord_guilds', discord_guilds: @character_discord_guilds %>
  </div>

  <div class="tab-pane fade" id="teams" role="tabpanel" aria-labelledby="teams-tab">
    <%= render 'discord_guilds/discord_guilds', discord_guilds: @team_discord_guilds %>
  </div>

  <div class="tab-pane fade" id="locations" role="tabpanel" aria-labelledby="locations-tab">
    <%= render 'discord_guilds/discord_guilds', discord_guilds: @location_discord_guilds %>
  </div>

  <div class="tab-pane fade" id="others" role="tabpanel" aria-labelledby="others-tab">
    <%= render 'discord_guilds/discord_guilds', discord_guilds: @other_discord_guilds %>
  </div>

</div>
