<div class="card">
  <div class="card-body">
    <div class="float-right">
      <i class="fas fa-users"></i>
      <%= city.players.count %>
    </div>
    <%= link_to city.full_name, city %>
  </div>
</div>
