<h1 class="text-center">Villes</h1>

<%= render 'shared/letters' %>
<%= render 'shared/pagination', collection: @cities %>

<div class="cards-list cities">
  <% @cities.each do |city| %>
    <div class="card-container">
      <%= render 'city', city: city.decorate %>
    </div>
  <% end %>
</div>
