<h1 class="text-center">Villes</h1>

<%= render 'shared/letters' %>

<div class="cards-list cities">
  <% @cities.each do |city| %>
    <%= render 'city', city: city.decorate %>
  <% end %>
</div>

<%= paginate @cities, theme: 'twitter-bootstrap-4' %>
