<h1 class="text-center">Villes</h1>

<div class="characters">
  <% @cities.each do |city| %>
    <%= render 'city', city: city.decorate %>
  <% end %>
</div>

<%= paginate @cities, theme: 'twitter-bootstrap-4' %>
