<main role="main" class="inner cover text-center" id="home-main">

  <section class="text-center">
    <div class="container">
      <div class="d-none d-md-block mb-5">
        <%= image_tag 'smashtheque-256.png', height: 128 %>
      </div>
      <h1>Bienvenue sur Smashthèque FR</h1>
      <p class="lead text-muted mb-5">
        La base de données de la communauté Super Smash Bros. Ultimate de France,<br/>
        fondée par le <a href="https://twitter.com/RetropenBar" target="_blank">Rétropen-Bar</a> et également administrée par red, Moon Key, <a href="https://twitter.com/Nixop" target="_blank">Nixop</a> et <a href="https://twitter.com/MidzTml" target="_blank">MIDZ</a>.
      </p>
      <p class="lead mb-4">
        Vous pouvez&nbsp;:
      </p>
      <div class="row mb-4">
        <div class="col-sm text-sm-right mb-4">
          <%= link_to "Voir les #{number_with_delimiter @players_count} joueurs", players_path, class: 'btn btn-lg btn-primary' %>
        </div>
        <div class="col-sm text-sm-left">
          <%= link_to "Voir les #{number_with_delimiter @teams_count} équipes", teams_path, class: 'btn btn-lg btn-primary' %>
        </div>
      </div>
      <p>
        ou utiliser la barre de recherche en haut de cette page.
      </p>
    </div>
  </section>

</main>
