<main role="main" class="inner cover text-center" id="home-main">
  <h1 class="cover-heading">Bienvenue sur la base de données du Rétropen-Bar.</h1>
  <p class="lead">Insérer ici un super texte descriptif.</p>
  <p class="lead">
    <%= link_to 'Voir les joueurs', players_path, class: 'btn btn-lg btn-secondary' %>
  </p>
</main>
