.cards-list
  text-align: center
  margin-bottom: 20px

  .card
    display: inline-flex
    margin: 10px 0
    max-width: 100%
    text-align: left

    &.character
      margin: 10px
      width: 200px
      text-align: center

      img
        width: 128px

    &.location
      width: 400px

    &.player
      width: 600px

      .player-team, .player-location
        float: right
        margin-left: 10px

      .player-team
        margin-top: 16px

        .avatar
          vertical-align: -9px

      .avatar
        margin-right: 10px

    &.team
      width: 400px

      .avatar
        margin-right: 10px

      .team-players-count
        float: right
        margin-left: 10px
        margin-top: 18px

  &.characters
    .card-container
      display: inline-block
