@import variables

#site-title
  a
    &, &:hover
      text-decoration: none
      color: $dark-gray

    img
      margin-right: 6px

    span
      display: inline-block
      vertical-align: middle
