@import variables

#site-title
  a
    &, &:hover
      text-decoration: none
      color: $dark-gray

    img
      margin-right: 6px

    span
      display: inline-block
      vertical-align: middle

#main-global-search-container
  margin-right: 100px

  #main-global-search
    width: 400px

nav#main-nav
  a
    &, &:hover
      text-decoration: none

    img, i, span
      display: inline-block
      vertical-align: middle

    img

    i

    span
