<div class="card location shadow-sm">
  <div class="card-body">
    <div class="float-right">
      <i class="fas fa-users"></i>
      <%= location.players.count %>
    </div>
    <%= link_to location.full_name, location_path(location) %>
  </div>
  <% if admin_user_signed_in? %>
    <%= link_to fas_icon_tag('cog'), [:admin, location], target: '_blank', class: 'admin-edit-link' %>
  <% end %>
</div>
