<div class="text-center">
  <div id="list-toolbar" class="bg-white shadow-sm">
    <h1 class="page-title">Localisations</h1>
    <%= render 'shared/letters' %>
    <%= render 'shared/pagination', collection: @locations %>
  </div>
</div>

<div class="cards-list locations">
  <% @locations.each do |location| %>
    <div class="card-container">
      <%= render 'location', location: location.decorate %>
    </div>
  <% end %>
</div>

<%= render 'shared/pagination', collection: @locations %>
