<div class="card card-box card-box--sm card-box--square card-box--stat flex-grow-1 mx-1">
  <h3 class="sr-only">Fragments d'étoiles</h3>
  <div class="card-body">
    <div class="card-content">
      <%= awarded.points_count(44, is_online: is_online, class: 'card-box-icon') %>
    </div>
  </div>
</div>